<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Monitoring Tool</title>
 
    <script>
        function clearFlashMessages() {
            var flashMessages = document.querySelector(".flash");
            if (flashMessages) {
                flashMessages.innerHTML = ""; // Clear messages
            }
            var reportMessage = document.getElementById("report-success");
            if (reportMessage) {
                reportMessage.innerHTML = ""; // Clear report message
                reportMessage.style.backgroundColor = "transparent";
                reportMessage.style.border = "none";
            }
        }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Server Monitoring Tool</h1>
        
        <!-- Display flashed messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-info flash flash-error">
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
        
        <form method="POST" enctype="multipart/form-data" class="mb-4">
            <div class="form-group">
                <label for="file">Choose Excel file:</label>
                <input type="file" name="file" id="file" accept=".xlsx, .xls" required onchange="clearFlashMessages();" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Process</button>
        </form>
        
        {% if download_filename %}
            <div id="report-success" class="alert alert-success">
                <h4 class="alert-heading">Report Generated Successfully!</h4>
                <p>Your server capacity report is ready for download.</p>
                <hr>
                <a href="{{ url_for('download_file', filename=download_filename) }}" class="btn btn-success">Download CSV</a>
            </div>
        {% endif %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
